/build
/build-debug
/*result
/libs
/makefiles/*
!/makefiles/*.sh
!/makefiles/*.mk
!/makefiles/*.py
!/makefiles/*.m
*.user
*.user.*
*~
/doc
/tmp
/script/*
!/script/*.sh
!/script/*.wxm
/python/*
!/python/*.py
build-prev/
external/include
external/lib