A_spm
A_t_spm
b_mat
*.jpg
callgrind*
results
/.DS_Store
.idea
.DS_Store
*~	
*#
Point_Sys/result
/cmake-build-debug
/cmake-build-release
/build
/build-debug
/*result
/libs
/makefiles/*
!/makefiles/*.sh
!/makefiles/*.mk
!/makefiles/*.py
!/makefiles/*.m
*.user
*.user.*
*~
/doc
/tmp
/script/*
!/script/*.sh
!/script/*.wxm
/python/*
!/python/*.py
build-prev/
external/include
external/lib
.vscode
*build/*
data