[submodule "external/autodiffgit"]
	path = external/autodiffgit
	url = https://github.com/autodiff/autodiff.git
[submodule "external/tetgen"]
	path = external/tetgen
	url = https://github.com/ufz/tetgen.git
